<div class="modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="row g-3" (submit)="submit()" autocomplete="off">
    <input type="hidden" [formControl]="idControl">
    <div class="col-12">
      <label for="name" class="form-label" #focusInput>Entity Name</label>
      <input [formControl]="nameControl" type="text" class="form-control" id="name" placeholder="State or Province">
    </div>
    <div class="col-12">
      <label for="capital" class="form-label">Capital</label>
      <input [formControl]="capitalControl" type="text" class="form-control" id="capital" placeholder="City">
    </div>

    <div class="col-md-6">
      <label for="population" class="form-label">Population</label>
      <input [formControl]="populationControl" type="text" class="form-control" id="population" digitsOnly>
    </div>
    <div class="col-md-6">
      <label for="area" class="form-label">Area (Km<sup>2</sup>)</label>
      <input [formControl]="areaControl" type="text" class="form-control" id="area" digitsOnly>
    </div>

    <div class="col-md-6">
      <label for="hi-elevation" class="form-label">Elevation (hi)</label>
      <input [formControl]="hiAltitude" type="text" class="form-control" id="hi-elevation" digitsOnly>
    </div>
    <div class="col-md-6">
      <label for="lo-elevation" class="form-label">Elevation (lo)</label>
      <input [formControl]="loAltitude" type="text" class="form-control" id="lo-elevation" digitsOnly>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-5">
      <button class="btn btn-outline-warning me-md-2" type="button" (click)="cancel()">CANCEL</button>
      <button type="submit" class="btn btn-success">SAVE</button>
    </div>
  </form>
</div>

