<div>
  <h2 class="text-center">Regional Entities</h2>
  <div class="container">
    <table class="table table-striped m-auto">
      <thead>
      <tr>
        <th scope="col"><!--add--></th>
        <th scope="col"><!--edit--></th>
        <th scope="col">Name</th>
        <th scope="col">Capital</th>
        <th scope="col">Population</th>
        <th scope="col">Area (km<sup>2</sup>)</th>
        <th scope="col">Low Elevation (m)</th>
        <th scope="col">High Elevation (m)</th>
      </tr>
      </thead>
      <tbody>
        @if (reloadableRegionalEntities$ | async; as regionalEntities) {
          @for (regionalEntity of regionalEntities; track regionalEntity.name; let i = $index) {
            <tr>
              <td *ngIf="regionalEntity.id && regionalEntity.name" class="deleter"
                  (click)="delete(regionalEntity.id, regionalEntity.name)">🚫
              </td>
              <td class="editor" (click)="edit(regionalEntity)">✏️</td>
              <td>{{ regionalEntity.name }}</td>
              <td>{{ regionalEntity.capital }}</td>
              <td>{{ regionalEntity.population | number: '1.0' }}</td>
              <td>{{ regionalEntity.squareKilometers | number: '1.0' }}</td>
              <td>{{ regionalEntity.loAltitude | number: '1.0' }}</td>
              <td>{{ regionalEntity.hiAltitude | number: '1.0' }}</td>
            </tr>
          } @empty {
            <p>No results yet!</p>
          }
        } @else if (serviceError) {
          <tr>
            <td colspan="7">
              <div class="alert alert-danger" role="alert">{{ serviceError }}</div>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <div class="float-end d-grid gap-2 d-md-flex justify-content-md-end mt-5">
      <button type="button" class="btn btn-primary" (click)="openNewEntityEditor()">Add Regional Entity</button>
    </div>

  </div>
</div>
