h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

table {
  max-width: 1000px;
  margin: auto;
}

th {
  text-align: left
}

.controls {
  display: flex;
  justify-content: space-between;
}

.deleter {
  font-size: 16pt;
  cursor: pointer;
}

.editor {
  font-size: 16pt;
  cursor: pointer;
}

button {
  position: fixed;
  bottom: 4vh;
  right: 12vh;
}
